<header class="bg-white shadow-sm shadow-gray-200 px-[2%] w-full py-[10px] sticky top-0 z-10 overflow-hidden flex items-center justify-between">
    <div class="flex items-center gap-[10px]">
        <img src="../../../assets/loom.svg" alt="logo">
        <h2 class="text-primary font-bold tracking-wide text-sm md:text-xl">Personnel Disaster Recovery</h2>
    </div>
    <div class="flex items-center gap-[10px] md:gap-[20px]">
        <img src="../../../assets/bell.svg" class="cursor-pointer" alt="notification-icon">
        <img src="../../../assets/Avatar.svg" class="cursor-pointer" class="w-[50%] md:w-full" alt="img-avatar">
    </div>
</header>