<div class="w-full py-[43px] px-[98px] flex flex-col gap-[24px] max-h-[400px] 2xl:max-h-[800px] overflow-y-auto">
    <div class="bg-white w-full p-[24px] rounded-lg border border-border shadow-sm shadow-gray-50">
        <h3 class="text-heading tracking-wide font-semibold mb-[16px]">General information</h3>
        <div class="w-full flex gap-[41px]">
            <span class="max-w-[154px] max-h-[140px]">
                <img src="../../../assets/IMG_8250.jpg" class="h-full w-full" alt="profile">
            </span>
            <div class="w-full flex flex-col gap-[32px]">
                <div class="w-full flex items-center justify-between py-[24px] border-b border-border">
                    <span>
                        <h5 class="text-paragraph tracking-wide mb-[8px] text-sm">Full name</h5>
                        <h3 class="font-medium tracking-wide">George Asiedu</h3>
                    </span>
                    <span>
                        <h5 class="text-paragraph tracking-wide mb-[8px] text-sm">Date of birth</h5>
                        <h3 class="font-medium tracking-wide">July 14, 1990</h3>
                    </span>
                    <span>
                        <h5 class="text-paragraph tracking-wide mb-[8px] text-sm">Gender</h5>
                        <h3 class="font-medium tracking-wide">Male</h3>
                    </span>
                </div>
                <div class="w-full flex items-center justify-between py-[24px] border-b border-border">
                    <span>
                        <h5 class="text-paragraph tracking-wide mb-[8px] text-sm">Phone number</h5>
                        <h3 class="font-medium tracking-wide">0544738983</h3>
                    </span>
                    <span>
                        <h5 class="text-paragraph tracking-wide mb-[8px] text-sm">House address</h5>
                        <h3 class="font-medium tracking-wide">2 PINE STREET</h3>
                    </span>
                    <span>
                        <h5 class="text-paragraph tracking-wide mb-[8px] text-sm">Email</h5>
                        <h3 class="font-medium tracking-wide">asiedug41&#64;gmail.com</h3>
                    </span>
                </div>
            </div>
            
        </div>
    </div>
    <div class="bg-white w-full p-[24px] rounded-lg border border-border shadow-sm shadow-gray-50">
        <h3 class="text-heading tracking-wide font-semibold mb-[16px]">Professional information</h3>
        <div class="w-full flex gap-[41px]">
            <div class="w-full flex flex-col gap-[32px]">
                <div class="w-full flex items-center justify-between py-[24px] border-b border-border">
                    <span>
                        <h5 class="text-paragraph tracking-wide mb-[8px] text-sm">Job title</h5>
                        <h3 class="font-medium tracking-wide">Developer</h3>
                    </span>
                    <span>
                        <h5 class="text-paragraph tracking-wide mb-[8px] text-sm">Department/Division</h5>
                        <h3 class="font-medium tracking-wide">Frontend</h3>
                    </span>
                    <span>
                        <h5 class="text-paragraph tracking-wide mb-[8px] text-sm">Employee ID</h5>
                        <h3 class="font-medium tracking-wide">GHA-714678235-2</h3>
                    </span>
                    <span>
                        <h5 class="text-paragraph tracking-wide mb-[8px] text-sm">Current workplace</h5>
                        <h3 class="font-medium tracking-wide">Amalitech</h3>
                    </span>
                </div>
                <div class="w-full flex items-center justify-between py-[24px] border-b border-border">
                    <span>
                        <h5 class="text-paragraph tracking-wide mb-[8px] text-sm">Current position</h5>
                        <h3 class="font-medium tracking-wide">Junior Associate</h3>
                    </span>
                    <span>
                        <h5 class="text-paragraph tracking-wide mb-[8px] text-sm">Years of experience</h5>
                        <h3 class="font-medium tracking-wide">2 years</h3>
                    </span>
                    <span>
                        <h5 class="text-paragraph tracking-wide mb-[8px] text-sm">Employee email</h5>
                        <h3 class="font-medium tracking-wide">george.asiedu&#64;amalitech.com</h3>
                    </span>
                </div>
            </div>           
        </div>
    </div>
    <div class="bg-white w-full p-[24px] rounded-lg border border-border shadow-sm shadow-gray-50">
        <h3 class="text-heading tracking-wide font-semibold mb-[16px]">Educational background</h3>
        <div class="w-full flex gap-[41px]">
            <div class="w-full flex flex-col gap-[32px]">
                <div class="w-full flex items-center justify-between py-[24px] border-b border-border">
                    <span>
                        <h5 class="text-paragraph tracking-wide mb-[8px] text-sm">Qualification</h5>
                        <h3 class="font-medium tracking-wide">BTECH Software Engineering</h3>
                    </span>
                    <span>
                        <h5 class="text-paragraph tracking-wide mb-[8px] text-sm">Field of study</h5>
                        <h3 class="font-medium tracking-wide">Frontend</h3>
                    </span>
                </div>
            </div> 
        </div>
    </div>
    <div class="bg-white w-full p-[24px] rounded-lg border border-border shadow-sm shadow-gray-50">
        <h3 class="text-heading tracking-wide font-semibold mb-[16px]">Specialization</h3>
        <div class="w-full flex gap-[41px]">
            <div class="w-full flex flex-col gap-[32px]">
                <div class="w-full flex items-center justify-between py-[24px] border-b border-border">
                    <span>
                        <h5 class="text-paragraph tracking-wide mb-[8px] text-sm">Area of expertise</h5>
                        <h3 class="font-medium tracking-wide">Angular Framework</h3>
                    </span>
                    <span>
                        <h5 class="text-paragraph tracking-wide mb-[8px] text-sm">Skills</h5>
                        <h3 class="font-medium tracking-wide">Typescript</h3>
                    </span>
                    <span>
                        <h5 class="text-paragraph tracking-wide mb-[8px] text-sm">Projects undertaken</h5>
                        <h3 class="font-medium tracking-wide">Personnel Disaster Recovery</h3>
                    </span>
                </div>
            </div> 
        </div>
    </div>
    <div class="bg-white w-full p-[24px] rounded-lg border border-border shadow-sm shadow-gray-50">
        <h3 class="text-heading tracking-wide font-semibold mb-[16px]">Personal attributes</h3>
        <div class="w-full flex gap-[41px]">
            <div class="w-full flex flex-col gap-[32px]">
                <div class="w-full flex items-center justify-between py-[24px] border-b border-border">
                    <span>
                        <h5 class="text-paragraph tracking-wide mb-[8px] text-sm">Language spoken</h5>
                        <h3 class="font-medium tracking-wide">English</h3>
                    </span>
                    <span>
                        <h5 class="text-paragraph tracking-wide mb-[8px] text-sm">Hobbies</h5>
                        <h3 class="font-medium tracking-wide">Playing football</h3>
                    </span>
                    <span>
                        <h5 class="text-paragraph tracking-wide mb-[8px] text-sm">Interest</h5>
                        <h3 class="font-medium tracking-wide">Music & Movies</h3>
                    </span>
                </div>
            </div> 
        </div>
    </div>
    <div class="flex items-center gap-[1rem] justify-end">
        <button class="bg-white text-heading rounded-lg py-[8px] px-[14px] font-medium border border-border hover:bg-suspendBg shadow-sm" (click)="showSuspendModal()">Suspend</button>
        <button class="bg-primary text-white rounded-lg py-[8px] px-[14px] font-medium border border-primary hover:bg-tertiary shadow-sm">Verify</button>
    </div>

    <app-suspend-modal *ngIf="isSuspendModalVisible" (cancel)="cancelSuspend()" (confirm)="confirmSuspend()"></app-suspend-modal>
</div>
