<div class="fixed inset-0 flex items-center justify-center z-50 bg-black bg-opacity-70">
    <div class="bg-white p-[24PX] w-[400px] rounded-xl shadow-xl">
        <span class="flex items-center justify-between mb-4">
            <h3 class="text-heading font-semibold text-lg">Suspend personnel?</h3>
            <button (click)="onCancel()" class="text-black text-2xl">&times;</button>
        </span>
        <p class="text-paragraph text-sm mb-4">
            Are you sure you want to suspend this personnel? <br> 
            Suspending will restrict their access to the system.
        </p>
        <div class="w-full flex items-center gap-4">
            <button 
                class="w-[48%] bg-white text-heading rounded-lg py-[8px] px-[14px] border border-border font-medium"
                (click)="onCancel()"
            >
                Cancel
            </button>
            <button 
                class="w-[48%] bg-primary text-white rounded-lg py-[8px] px-[14px] font-medium"
                (click)="onConfirm()"
            >
                Confirm
            </button>
        </div>
    </div>
</div>
  