<div class="w-full py-[2rem] 2xl:py-[3rem] px-[1rem] 2xl:px-[2rem] flex flex-col gap-[1rem]">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-[1rem] px-[1rem]">
        <div class="border-r flex items-center justify-between px-[2rem]">
            <span class="block">
                <p class="text-paragraph text-xs tracking-wide mb-[10px]">Total registered personnels</p>
                <h3 class="text-heading font-bold tracking-wide text-3xl">2,000</h3>
            </span>
            <span class="flex items-center gap-[2px] border-none rounded px-[10px] py-[3px] bg-secondary">
                <img src="../../../assets/arrow-up.svg" alt="top-arrow">
                <h5 class="font-bold text-[8px] tracking-wide text-tertiary">100%</h5>
            </span>
        </div>
        <div class="border-r flex items-center justify-between px-[2rem]">
            <span class="block">
                <p class="text-paragraph text-xs tracking-wide mb-[10px]">Total verified profiles</p>
                <h3 class="text-heading font-bold tracking-wide text-3xl">4,000</h3>
            </span>
            <span class="flex items-center gap-[2px] border-none rounded px-[10px] py-[3px] bg-secondary">
                <img src="../../../assets/arrow-up.svg" alt="top-arrow">
                <h5 class="font-bold text-[8px] tracking-wide text-tertiary">100%</h5>
            </span>
        </div>
        <div class="flex items-center justify-between px-[2rem]">
            <span class="block">
                <p class="text-paragraph text-xs tracking-wide mb-[10px]">High priority personnels</p>
                <h3 class="text-heading font-bold tracking-wide text-3xl">8,000</h3>
            </span>
            <span class="flex items-center gap-[2px] border-none rounded px-[10px] py-[3px] bg-secondary">
                <img src="../../../assets/arrow-up.svg" alt="top-arrow">
                <h5 class="font-bold text-[8px] tracking-wide text-tertiary">100%</h5>
            </span>
        </div>
    </div>
</div>