<div class="bg-gray50 flex w-full items-center justify-center flex-col gap-[1.3rem] h-screen">
    <img src="../../../assets/email.svg" alt="email-illustration">
    <h2 class="text-heading tracking-wide text-2xl font-bold text-center">An email is on <br> the way</h2>
    <p class="text-paragraph tracking-wide text-xs leading-5 text-center mb-[20px]">
        A verification link has been dispatched to <br>
        your email. Please check the link to <br>
        authenticate your account
    </p>
    <span class="flex items-center text-xs tracking-wide text-paragraph gap-[4px]">
        <p>Did not receive the link?</p>
        <a routerLink="/resend" class="text-primary font-medium hover:font-bold">Resend link</a>
    </span>
</div>