<div class="relative max-w-full overflow-hidden h-screen">
    <ngx-spinner 
        bdColor = "rgba(252,245,245,0.8)" 
        size = "large" 
        color = "#039855" 
        type = "ball-clip-rotate-multiple" 
        [fullScreen] = "true"
        *ngIf="loading"
    >
    </ngx-spinner>
    <div class="bg-black">
        <img src="../../../assets/4.jpg" class="w-full hidden lg:block opacity-40" alt="register-image">
    </div>
    <div class="bg-gray-50 w-[90%] md:w-[500px] lg:w-[400px] lg:h-auto px-[2rem] py-[2.5rem] border-none rounded-lg absolute top-[24%] lg:top-[16%] 2xl:top-[20%] right-[5%] md:right-[15%] lg:right-[5%]">
        <div class="flex items-center flex-col gap-[5px] mb-[20px]">
            <img src="../../../assets/key.svg" class="mb-[10px]" alt="logo">
            <h2 class="text-heading tracking-wide text-lg font-bold">Forgot password?</h2>
            <p class="text-xs text-center text-paragraph tracking-wide">No worries, we'll send you reset instructions</p>
        </div>
        <form class="flex flex-col gap-[10px]" (ngSubmit)="submitEmail()" [formGroup]="forgotForm">
            <div class="flex flex-col gap-[4px] relative">
                <label for="email" class="text-heading tracking-wide text-sm font-medium">Email</label>
                <input 
                    type="email"
                    formControlName="email"
                    placeholder="Enter your email address"
                    class="border border-border py-[6px] px-[1rem] focus-within:outline-none focus-within:border-heading caret-primary placeholder:text-xs text-heading rounded-md w-full"
                >
                <div 
                    class="absolute top-8 right-3 text-red-500 text-[12px]"
                    *ngIf="forgotForm.get('email')?.invalid && (forgotForm.get('email')?.touched || forgotForm.get('email')?.dirty)"
                >
                    <div *ngIf="forgotForm.get('email')?.errors?.['required']">Email is required</div>
                    <div *ngIf="forgotForm.get('email')?.errors?.['email']">Invalid email</div>
                </div>
            </div>
            <button
                class="bg-primary hover:bg-green-700 my-[10px] py-[8px] text-white text-center text-sm font-medium rounded-md"
                type="submit" 
                [disabled]="forgotForm.invalid || loading"
            >
                Reset password
            </button>
        </form>
        <span class="flex items-center justify-center gap-[4px] text-xs font-medium tracking-wide">
            <img src="../../../assets/arrow-left.svg" alt="arrow-left">
            <a routerLink="/login" class="text-primary cursor-pointer">Back to login</a>
        </span>
    </div>
</div>